html,
body {
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 5
    /* background: white; */
}

#button_fullscreen,
#button_settings {
  position: fixed;
  top: 1vw;
  right: 1vw;
  width: 7vw;
  height: 7vw;
  font-size: 5vw;
  line-height: 0vw;
  padding-bottom: 0.5vw;
  z-index: 10;
  font-family: "Courier";
  font-weight: bold;
}

#button_settings {
  right: 9vw;
}

#game_buttons {
  position: fixed;
  top: 0;
  right: 0;
  width: 25vw;
}

#game_buttons button {
  width: 100%;
}