html,
body {
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: absolute;
  top: 0;
}

#controls_canvas {
  mix-blend-mode: luminosity;
  opacity: 0.25;
}